
/* site header and footer */
.site-header, .site-footer {
    background-color: $color-accent; 
    padding: 1em;
    color: #fff;
    display: flex;
    justify-content: space-between;

    h1 { 
        font-family: $body-fontfamily;
        font-size: 1.5em;
        margin: .5em 0 0 0; /* to adjust baseline with nav text */
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}

/* site header */
.site-header {
    background-color: transparent;
    position: absolute;
    width: 100%;
}

/* site footer */
.site-footer {
    justify-content: center;
    margin-top: 6em;
    background-color: #000;
}

/* site navigation */
.site-nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    ul {
        background: rgba(255,0,0,.5);
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    a {
        display: block;
        padding: 1em;
    }

    &.active {
        height: 100%;
        ul {
            display: block;
        }
        background: red;
    }
}

/* MENU BUTTON */
.menu-button {
    position: absolute;
    top: 2em;
    right: 2em;
    cursor: pointer;
    background-color: #000; //temp - REMOVE
}

section {
    padding: 6em 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

/* Hero Sections */
.hero {
    background-color: $color-hero-bg;
    // background-image: url('https://picsum.photos/id/1019/1600/1200');
    // background-size: cover;
    padding: 6em 1em;
    color: #fff;

    h2 {
        font-size: 4em;
        margin: 0;
    }
}

/* Layout section */

.split-crossed-left {

    @media (min-width: $breakpoint-small) {
        .container {
            display: flex;
            align-items: center;
        }

        .image-block {
            width: 50%;
        }

        .text-block {
            width: 50%;
            transform: translateX(-2em);
        }
    }

}

.split-crossed-reversed {
    
        @media (min-width: $breakpoint-small) {
            .container {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
            }
    
            .image-block {
                width: 50%;
            }
    
            .text-block {
                width: 50%;
                transform: translateX(2em);
            }
        }
    
    }